In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from faker import Faker

In [ ]:
df = pd.DataFrame(columns=['Number of Records', 'ActLaborHrs', 'Fiscalmonth', 
                           'Fiscalyear', 'Startdate', 'Owner', 
                           'SubGroup', 'SubGroupDesc', 'Responsedays', 'Responsehours', 
                           'Status', 'Enddate', 'OrderID', 'Priority'])

In [ ]:
Numbers = []
for i in range(20000):
    Numbers.append(i)

In [ ]:
df['Number of Records'] = Numbers

### Priority

In [ ]:
df['Priority'] = np.random.choice([1, 2, 11]) #df[0]

In [ ]:
df['Priority'].value_counts()

In [ ]:
dfupdate=df[df['Priority'] == 2 ].sample(2973)

In [ ]:
dfupdate['Priority'] = 11
df.update(dfupdate)

In [ ]:
df['Priority'].value_counts()

### ActLaborHrs

In [ ]:
df['ActLaborHrs']

In [ ]:
df['ActLaborHrs'] = np.random.choice([ 0, 1, 2, 3])

In [ ]:
dfupdate=df.sample(12973)
dfupdate['ActLaborHrs'] = np.random.uniform(0,10)
df.update(dfupdate)

In [ ]:
dfupdate=df.sample(1000)
dfupdate['ActLaborHrs'] = np.random.uniform(10,600)
df.update(dfupdate)

In [ ]:
dfupdate=df.sample(100)
dfupdate['ActLaborHrs'] = np.random.uniform(100,4000)
df.update(dfupdate)

In [ ]:
dfupdate=df.sample(3000)
dfupdate['ActLaborHrs'] = 0.5
df.update(dfupdate)

In [ ]:
df['ActLaborHrs'].describe()

### FiscalYear, Month

In [ ]:
df['Fiscalyear'] = 2018

In [ ]:
dfupdate=df.sample(1782)
dfupdate['Fiscalyear'] = 2019
df.update(dfupdate)

In [ ]:
df['Fiscalyear'].value_counts()

In [ ]:
df['Fiscalmonth'] = np.random.randint(1,13, len(df))

In [ ]:
dfupdate=df.sample(2000)
dfupdate['Fiscalmonth'] = np.random.randint(6,13, len(dfupdate))
df.update(dfupdate)

In [ ]:
df['Fiscalmonth'].value_counts()

In [ ]:
### Response Hour/ Day

In [ ]:
df['Responsedays']= np.random.choice([1,2,3,4])

In [ ]:
dfupdateP1=df[(df['Priority'] == 1) | (df['Priority'] == 2)].sample(3000)
dfupdateP1['Responsedays'] = np.random.randint(2,30, len(dfupdateP1))
df.update(dfupdateP1)
dfupdateP1['Priority'].value_counts()

In [ ]:
dfupdateP11 = df[(df['Priority'] == 11)].sample(5000)
dfupdateP11['Responsedays'] = np.random.randint(1,8, len(dfupdateP11))
df.update(dfupdateP11)
dfupdateP11['Priority'].value_counts()

In [ ]:
df['Responsedays'][(df['Priority'] == 1)| (df['Priority'] == 2)].describe()

In [ ]:
df['Responsedays'][(df['Priority'] == 11)].describe()

In [ ]:
df = df.round({'Responsedays': 0})

In [ ]:
df['Responsedays']

In [ ]:
df['Responsehours'] = df['Responsedays'] * 24
df['Responsehours'].describe()

In [ ]:
df['Responsehours'][df['Responsehours'] == 24].count()

In [ ]:
dfN = df

In [ ]:
dfN

In [ ]:
dfN['OrderID'] = random.sample(range(100000,700000), 20000)

In [ ]:
import random
from random import randint

In [ ]:
dfN['OrderID'].count()

In [ ]:
dfN['OrderID'].duplicated().sum()

In [ ]:
dfN['OrderID'] = 'WO' + dfN['OrderID'].astype(str)

In [ ]:
dfN['OrderID'] .head(20)

In [ ]:
dfN

### Group&SubGroup

In [40]:
df = pd.read_csv('fake_data1.csv')
dfN = df

In [42]:
def get_employee_names(people):
    l = []
    for i in range(0, people):
        n = fake.name()
        l.append(n)
    return l

In [ ]:
df['']= np.random.choice(['EHS'])

In [46]:
dfN[]

,Unnamed: 0,Number of Records,ActLaborHrs,Fiscalmonth,Fiscalyear,Startdate,Owner,SubGroup,SubGroupDesc,Responsedays,Responsehours,Status,Enddate,OrderID,Priority
0,0,0.0,8.684484,3.0,2019.0,NaN,NaN,NaN,NaN,2.0,48.0,NaN,NaN,WO661969,11.0
1,1,1.0,0.500000,5.0,2018.0,NaN,NaN,NaN,NaN,2.0,48.0,NaN,NaN,WO153330,11.0
2,2,2.0,8.684484,1.0,2019.0,NaN,NaN,NaN,NaN,3.0,72.0,NaN,NaN,WO500668,1.0
3,3,3.0,8.684484,5.0,2019.0,NaN,NaN,NaN,NaN,5.0,120.0,NaN,NaN,WO265042,11.0
4,4,4.0,8.684484,3.0,2019.0,NaN,NaN,NaN,NaN,5.0,120.0,NaN,NaN,WO488035,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,19995.0,0.500000,9.0,2019.0,NaN,NaN,NaN,NaN,7.0,168.0,NaN,NaN,WO439994,11.0
19996,19996,19996.0,1.000000,12.0,2019.0,NaN,NaN,NaN,NaN,5.0,120.0,NaN,NaN,WO403049,1.0
19997,19997,19997.0,1.000000,1.0,2019.0,NaN,NaN,NaN,NaN,77.0,1848.0,NaN,NaN,WO558988,11.0
19998,19998,19998.0,1.000000,8.0,2019.0,NaN,NaN,NaN,NaN,4.0,96.0,NaN,NaN,WO255731,11.0
19999,19999,19999.0,8.684484,12.0,2018.0,NaN,NaN,NaN,NaN,7.0,168.0,NaN,NaN,WO147374,11.0

In [151]:
group_list = ['EHS', 'Engineering', 'HVAC', 'Electrical',
              'Fire safety', 'Plumber', 'Locksmith', 'CallCenter', 'Landscape service',
              'Security', 'Cleaning', 'Energy', 'Building Maintenance',
              'IT', 'Managment']
group_weight = [0.005, 0.15, 0.13, 0.03,
                0.09, 0.08, 0.10, 0.08, 0.003,
                0.03, 0.09, 0.07, 0.133,
                0.005, 0.004]

In [98]:
sum(group_weight)

1.0

In [110]:
len(group_list)

15

In [114]:
from numpy.random import choice
import random

In [158]:
dfN['Group'] =  choice(group_list, 20000, p = group_weight)

In [159]:
dfN['Group'].value_counts()

Engineering             2953
Building Maintenance    2640
HVAC                    2593
Locksmith               2048
Cleaning                1800
Fire safety             1780
CallCenter              1634
Plumber                 1577
Energy                  1402
Electrical               662
Security                 603
EHS                       92
IT                        85
Managment                 70
Landscape service         61
Name: Group, dtype: int64

In [160]:
#dfN.to_csv('fake_data1.csv')

In [168]:

del dfN['SubGroupDesc']

In [169]:
dfN

,ActLaborHrs,Fiscalmonth,Fiscalyear,Startdate,SubGroup,Responsedays,Responsehours,Status,Enddate,OrderID,Priority,Group
0,8.684484,3.0,2019.0,NaN,NaN,2.0,48.0,NaN,NaN,WO661969,11.0,Engineering
1,0.500000,5.0,2018.0,NaN,NaN,2.0,48.0,NaN,NaN,WO153330,11.0,Building Maintenance
2,8.684484,1.0,2019.0,NaN,NaN,3.0,72.0,NaN,NaN,WO500668,1.0,Cleaning
3,8.684484,5.0,2019.0,NaN,NaN,5.0,120.0,NaN,NaN,WO265042,11.0,CallCenter
4,8.684484,3.0,2019.0,NaN,NaN,5.0,120.0,NaN,NaN,WO488035,1.0,Cleaning
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.500000,9.0,2019.0,NaN,NaN,7.0,168.0,NaN,NaN,WO439994,11.0,Plumber
19996,1.000000,12.0,2019.0,NaN,NaN,5.0,120.0,NaN,NaN,WO403049,1.0,HVAC
19997,1.000000,1.0,2019.0,NaN,NaN,77.0,1848.0,NaN,NaN,WO558988,11.0,Energy
19998,1.000000,8.0,2019.0,NaN,NaN,4.0,96.0,NaN,NaN,WO255731,11.0,Locksmith
19999,8.684484,12.0,2018.0,NaN,NaN,7.0,168.0,NaN,NaN,WO147374,11.0,Cleaning

In [171]:
### Status

In [180]:
status_list = ['Cancel', 'Inprogress', 'Complete', 'Onhold']
status_weight = [0.06, 0.15, 0.74, 0.05]

In [181]:
sum(status_weight)

1.0

In [183]:
dfN['Status'] = choice(status_list, 20000, p = status_weight)

In [185]:
dfN['Status'].value_counts()

Complete      14847
Inprogress     2946
Cancel         1190
Onhold         1017
Name: Status, dtype: int64

In [186]:
dfN

,ActLaborHrs,Fiscalmonth,Fiscalyear,Startdate,SubGroup,Responsedays,Responsehours,Status,Enddate,OrderID,Priority,Group
0,8.684484,3.0,2019.0,NaN,NaN,2.0,48.0,Inprogress,NaN,WO661969,11.0,Engineering
1,0.500000,5.0,2018.0,NaN,NaN,2.0,48.0,Cancel,NaN,WO153330,11.0,Building Maintenance
2,8.684484,1.0,2019.0,NaN,NaN,3.0,72.0,Complete,NaN,WO500668,1.0,Cleaning
3,8.684484,5.0,2019.0,NaN,NaN,5.0,120.0,Complete,NaN,WO265042,11.0,CallCenter
4,8.684484,3.0,2019.0,NaN,NaN,5.0,120.0,Complete,NaN,WO488035,1.0,Cleaning
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.500000,9.0,2019.0,NaN,NaN,7.0,168.0,Inprogress,NaN,WO439994,11.0,Plumber
19996,1.000000,12.0,2019.0,NaN,NaN,5.0,120.0,Complete,NaN,WO403049,1.0,HVAC
19997,1.000000,1.0,2019.0,NaN,NaN,77.0,1848.0,Complete,NaN,WO558988,11.0,Energy
19998,1.000000,8.0,2019.0,NaN,NaN,4.0,96.0,Complete,NaN,WO255731,11.0,Locksmith
19999,8.684484,12.0,2018.0,NaN,NaN,7.0,168.0,Complete,NaN,WO147374,11.0,Cleaning